body{
    font-family: 'Noto Sans TC';
}
h1{
    color: blue;
}
.intro{
    text-indent: 32px;
}
a:hover{
    color: green;
}
.subtitle{
    font-size: 23px;
    font-weight: bold;
    border-left: 4px solid red;
    border-bottom: 8px solid red;
}
.wrong{
    text-decoration: line-through;
}
img{
    border: 8px solid cornflowerblue;
}